table ,th,td{
    border:1px,solid gray;
    text-align: center;
}
table{
    border-collapse: collapse;
    width:80%;
    margin:50% auto;
}
th{
    height: 20px;
}
td{
    height: 40px;
}
tr:nth-child(odd){
    background-color: lightblue;
}
tr:nth-child(even){
    background-color: green;
}
tr:hover{
    color:black;
}